<div>
<header>
    <div id="cabecera">
      <img id="logotipo" src="../View/img/logotipo.png">
    </div>

    <nav id="menu">
      <br>
    <ul>


          

        <ul>
        <div id="userbar">Loading...</div>
        </ul>
    </ul>


  </nav>



</header>

<!-- router contents -->
<main id="maincontent">Loading...</main>


<footer>
  <div id="languagecontrol">Loading...</div>
</footer>
</div>
