

<div>
{{#if user.isLogged}}
<div id="notes-table">
  {{#if notes.length}}

      <div class="imagenes">
    {{#each notes}}

            <div class="image">
                <img id="posit" src="../View/img/nota2.png">
                <h2>

      <div fronty-component="NoteComponent" key="{{numero}}" model="notes[{{@index}}]" id="item2-{{numero}}"></div>
    </h2>
    </div>

    {{/each}}

      </div>
  {{/if}}
</div>
  {{/if}}
</div>
