<div>

<div id="posts-table">
  {{#if posts.length}}

      <div class="imagenes">
    {{#each posts}}

            <div class="image">
                <img id="posit" src="../View/img/nota2.png">
                <h2>

      <div fronty-component="PostComponent" key="{{numero}}" model="posts[{{@index}}]" id="item2-{{numero}}"></div>
    </h2>
    </div>

    {{/each}}

      </div>
  {{/if}}
</div>

</div>
